@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.appHome {
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;

  h1 {
    font-size: 1em;
    font-weight: 600;
  }

  p {
    font-size: 0.8em;
  }

  .content {
    background-color:#ffffff;
  }

  .webpartLoader{
    width: 100%;
    height: 100%;
    background-color:#ffffff;
    position: absolute;
    top: 0;
    left: 0;
  }

  .webpartLoaderSpinner {
      width: 100px;
      height: 100px;
      position: absolute;
      margin-left: calc(50vw - 200px);
      margin-top: calc(50vh - 120px);
  }
}